.btn{
    position: absolute;
    top: 650px;
    right: 770px;
    border: solid 2px white;
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 12px;
    font-family: serif;
    border-radius: 20px;
    /* left: 0px; */
    
}

/* mobile */
@media only screen and (max-width: 600px) {
    .btn{
        position: absolute;
        top: 600px;
        right: 133px;
        border: solid 2px white;
        background-color: white;
        color: black;
        font-size: 24px;
        padding: 10px;
        font-family: serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* border-radius: 25px; */
        /* left: 0px; */
        
    }
}

/* smaller screens */
@media only screen and (max-width: 500px) {
    .btn{
        position: absolute;
        top: 600px;
        right: 139px;
        border: solid 2px white;
        background-color: white;
        color: black;
        font-size: 26px;
        padding: 12px;
        font-family: serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* border-radius: 25px; */
        /* left: 0px; */
        
    }
}

/* media query */
@media only screen and (max-width: 400px) {
    .btn{
        position: absolute;
        top: 570px;
        right: 125px;
        border: solid 2px white;
        background-color: white;
        color: black;
        font-size: 24px;
        padding: 10px;
        font-family: serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* border-radius: 25px; */
        /* left: 0px; */
        
    }
}

/* media query */
@media only screen and (max-width: 300px) {
    .btn{
        position: absolute;
        top: 300px;
        right: 125px;
        border: solid 2px white;
        background-color: white;
        color: black;
        font-size: 24px;
        padding: 10px;
        font-family: serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* border-radius: 25px; */
        /* left: 0px; */
        
    }
}

